
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/lib/layuimini/lib/layui-v2.5.5/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <form class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="account" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
                <tip>填写自己管理账号的名称。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" maxlength="20" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">确认密码</label>
            <div class="layui-input-block">
                <input type="password" lay-verify="required|confirmPass" lay-reqtext="密码不能为空" placeholder="请输入密码" maxlength="20" value="" class="layui-input">
            </div>
        </div>


        @*<div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">登录密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required" class="layui-input" lay-reqtext="密码不能为空" placeholder="请输入密码" maxlength="20" value="">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" lay-verify="required|confirmPass" class="layui-input" >
                    </div>
                </div>
            </div>*@


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </form>
    <script src="~/lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            form.verify({
                confirmPass: function (value) {
                    if ($('input[name=password]').val() !== value)
                        return '两次密码输入不一致！';
                }
            });
            /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
            form.render();

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                //var index = layer.alert(JSON.stringify(data.field)
                    $.ajax({
                        url: '/Manager/AddManagers',
                        type: 'post',
                        data: $(data.form).serialize(),
                        success: function (obj) {
                            if (obj.success) {
                                layer.alert(obj.msg, { icon: 1 }, function () {
                                    //刷新父页面
                                    parent.location.reload();
                                    //关闭弹出层
                                    layer.close(layer.index);
                                });

                            } else {
                                layer.msg(obj.msg, { icon: 2 });
                            }
                        }
                    });
                return false;
            });

        });</script>
</body>
</html>

 @*// 关闭弹出层
                    layer.close(index);

                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);*@
